# folders
node_modules
coverage
dist
build
tmp
.next
.vercel

# files extension
**.log**
**.env**
**.DS_Store**
**.eslintcache**

# files name and extension
production.md
notes.md

# exceptions
!.env.example

# outher
dist-ssr
*.local
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
