:root {
  --fontColor: #000000;
  --backgroundColor: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: var(--fontColor);
  background-color: var(--backgroundColor);
  font: normal 400 normal 16px 'Roboto', sans-serif;
  user-select: none;
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
